{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>🤭 A MAZEing Python 🤭</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		
		<!-- material css -->
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
			type="text/css"
			rel="stylesheet"
			media="screen,projection"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		

		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.10.7/brython.min.js"
		></script>
		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.10.7/brython_stdlib.min.js"
		></script>


		<!-- brython js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ext-language_tools.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/mode-python.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/theme-chrome.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/theme-dracula.min.js"></script>

		<!--이 곳에 static에 해당하는 코드 (css파일 연결 등) 작성-->
		{% block style %}
		{% endblock %}
	</head>

	<body onload="brython(1)">
		<!-- material css js-->
		<script	type="text/javascript"	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<!-- 네비게이션바 -->
		{% include "nav.html" %}
		<!-- 기본 템플릿 안에 삽입될 내용 Start -->
		{% block content %}
		{% endblock %}
		<!-- 기본 템플릿 안에 삽입될 내용 End -->
	</body>
</html>
