<!-- stageList.html -->
{% extends "base.html" %}
{% load static %}
{% block style %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.10.7/brython.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.10.7/brython_stdlib.min.js"></script>

<!-- brython js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ext-language_tools.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/mode-python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/theme-chrome.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/theme-dracula.min.js"></script>

<link rel="stylesheet" href="{% static 'maze/css/stageList.css' %}">
{% endblock %}

{% block content %}
<div><p><br></p></div>
<table id="stage_table">
	<tr>
		<td>
			<div class="row">
				<div class="col s12 m7">
					<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage1.png' %}">
						<span class="card-title">STAGE 1</span>
					</div>
					<div class="card-content">
						<p>[직진 코스]<br/>난이도 ⭐️</p>
						반복문 사용해보기
					</div>
					<div class="card-action">
						<a href="/maze/game?stage=0">도전해보기!</a>
					</div>
					</div>
				</div>
				</div>
		</td>
		<td>
			<div class="row">
				<div class="col s12 m7">
					<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage2.png' %}">
						<span class="card-title">STAGE 2</span>
					</div>
					<div class="card-content">
						<p>[직우 코스]<br/>난이도 ⭐️⭐️</p>
						반복문과 분기문 사용해보기
					</div>
					<div class="card-action">
						<a href="/maze/game?stage=1">도전해보기!</a>
					</div>
					</div>
				</div>
				</div>
		</td>
		<td>
			<div class="row">
				<div class="col s12 m7">
					<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage3.png' %}">
						<span class="card-title">STAGE 3</span>
					</div>
					<div class="card-content">
						<p>[직좌 코스]<br/>난이도 ⭐️⭐️</p>
						반복문과 분기문 사용해보기
					</div>
					<div class="card-action">
						<a href="/maze/game?stage=2">도전해보기!</a>
					</div>
					</div>
				</div>
				</div>
		</td>
		<td>
			<div class="row">
				<div class="col s12 m7">
					<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage4.png' %}">
						<span class="card-title">STAGE 4</span>
					</div>
					<div class="card-content">
						<p>[유턴 코스]<br/>난이도 ⭐️⭐️⭐️</p>
						이중 반복문 사용해보기
					</div>
					<div class="card-action">
						<a href="/maze/game?stage=3">도전해보기!</a>
					</div>
					</div>
				</div>
				</div>
		</td>
		<td>
			<div class="row">
				<div class="col s12 m7">
					<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage5.png' %}">
						<span class="card-title">STAGE 5</span>
					</div>
					<div class="card-content">
						<p>[미로 코스]<br/>난이도 ⭐️⭐️⭐️⭐️</p>
						queue 사용해보기
					</div>
					<div class="card-action">
						<a href="/maze/game?stage=4">도전해보기!</a>
					</div>
					</div>
				</div>
				</div>
		</td>
	</tr>
</table>
{% endblock %}