<!-- mypage.html -->
{% extends "base.html" %}
{% load static %}
{% block style %}
<script type="text/javascript">
	window.addEventListener("load", function() {
		$('.collapsible').collapsible();
	});
	$(document).ready(function(){
    	$('.modal').modal();
  	});
	function openalert(temp) {
		document.getElementById("modalCode").textContent = $(temp).val()
		elems = document.getElementById("modal1")
		modal = M.Modal.init(elems, {})
		modal.open()
	}
</script> 

{% endblock %}

{% block content %}

<div><p><br></p></div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
	<div class="modal-content">
		<pre id="modalCode">A bunch of text</pre>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>

<div class="row">
	<div class="col offset-s1 s10">
		<div class="row">
			<div class="col offset-l1 m12 offset-l1 l2">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage1.png' %}">
						<span class="card-title">STAGE 1</span>
					</div>
					{% if record_st0 %}
					<ul class="collection">
							{% for object in record_st0 %}
							<li class="collection-item">
								<div class="row" onclick="openalert(s0r{{forloop.counter}})">
									<input type="hidden" id="s0r{{forloop.counter}}" value="{{ object.record_code }}">
									<div class="col s6">
										<p class="center-align">{{ object.record_date|date:'Y-m-d' }}</p>
									</div>
									<div class="col s6  lime lighten-3">
										<p class="center-align">score : {{ object.record_score }}</p>
									</div>
								</div>
							</li>
							{% endfor %}
					</ul>
						{% else %}
						<div class="card-content">
							<p class="center-align">🔒 No record 🔒</p>
						</div>
					{% endif%}
				</div>
			</div>
			<div class="col m12 l2">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage2.png' %}">
						<span class="card-title">STAGE 2</span>
					</div>
					{% if record_st1 %}
					<ul class="collection">
							{% for object in record_st1 %}
							<li class="collection-item">
								<div class="row" onclick="openalert(s1r{{forloop.counter}})">
									<input type="hidden" id="s1r{{forloop.counter}}" value="{{ object.record_code }}">
									<div class="col s6">
										<p class="center-align">{{ object.record_date|date:'Y-m-d' }}</p>
									</div>
									<div class="col s6  lime lighten-3">
										<p class="center-align">score : {{ object.record_score }}</p>
									</div>
								</div>
							</li>
							{% endfor %}
					</ul>
						{% else %}
						<div class="card-content">
							<p class="center-align">🔒 No record 🔒</p>
						</div>
					{% endif%}
				</div>
			</div>
			<div class="col m12 l2">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage3.png' %}">
						<span class="card-title">STAGE 3</span>
					</div>
					{% if record_st2 %}
					<ul class="collection">
							{% for object in record_st2 %}
							<li class="collection-item">
								<div class="row" onclick="openalert(s2r{{forloop.counter}})">
									<input type="hidden" id="s2r{{forloop.counter}}" value="{{ object.record_code }}">
									<div class="col s6">
										<p class="center-align">{{ object.record_date|date:'Y-m-d' }}</p>
									</div>
									<div class="col s6  lime lighten-3">
										<p class="center-align">score : {{ object.record_score }}</p>
									</div>
								</div>
							</li>
							{% endfor %}
					</ul>
						{% else %}
						<div class="card-content">
							<p class="center-align">🔒 No record 🔒</p>
						</div>
					{% endif%}
				</div>
			</div>
			<div class="col m12 l2">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage4.png' %}">
						<span class="card-title">STAGE 4</span>
					</div>
					{% if record_st3 %}
					<ul class="collection">
							{% for object in record_st3 %}
							<li class="collection-item">
								<div class="row" onclick="openalert(s3r{{forloop.counter}})">
									<input type="hidden" id="s3r{{forloop.counter}}" value="{{ object.record_code }}">
									<div class="col s6">
										<p class="center-align">{{ object.record_date|date:'Y-m-d' }}</p>
									</div>
									<div class="col s6  lime lighten-3">
										<p class="center-align">score : {{ object.record_score }}</p>
									</div>
								</div>
							</li>
							{% endfor %}
					</ul>
						{% else %}
						<div class="card-content">
							<p class="center-align">🔒 No record 🔒</p>
						</div>
					{% endif%}
				</div>
			</div>
			<div class="col m12 l2">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'maze/image/stage5.png' %}">
						<span class="card-title">STAGE 5</span>
					</div>
					{% if record_st4 %}
					<ul class="collection">
							{% for object in record_st4 %}
							<li class="collection-item">
								<div class="row" onclick="openalert(s4r{{forloop.counter}})">
									<input type="hidden" id="s4r{{forloop.counter}}" value="{{ object.record_code }}">
									<div class="col s6">
										<p class="center-align">{{ object.record_date|date:'Y-m-d' }}</p>
									</div>
									<div class="col s6  lime lighten-3">
										<p class="center-align">score : {{ object.record_score }}</p>
									</div>
								</div>
							</li>
							{% endfor %}
					</ul>
						{% else %}
						<div class="card-content">
							<p class="center-align">🔒 No record 🔒</p>
						</div>
					{% endif%}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
